.tmenu-mobile {
    background-color: #000;
    display: none;
    width: 100%;
    top: 0;
    z-index: 990
}

.tmenu-mobile_positionfixed {
    position: fixed
}

.tmenu-mobile__text {
    color: #fff
}

.tmenu-mobile__container {
    min-height: 64px;
    padding: 20px;
    position: relative;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.tmenu-mobile__list {
    display: block
}

.tmenu-mobile__burgerlogo {
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    white-space: nowrap;
    vertical-align: middle
}

.tmenu-mobile__imglogo {
    height: auto;
    display: block;
    max-width: 300px !important;
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto
}

@media screen and (max-width: 980px) {
    .tmenu-mobile__menucontent_hidden {
        display: none;
        height: 100%
    }

    .tmenu-mobile {
        display: block
    }
}

@media screen and (max-width: 980px) {
    #rec602602378 .tmenu-mobile__menucontent_fixed {
        position: fixed;
        top: 64px
    }

    #rec602602378 .t-menuburger {
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1
    }
}